body{
    margin: 0;
    padding: 0;
}
.parent{
    display: flex;
    
    width: 80%;
    margin: 0 auto;
    
    
}
h1{
    font-family: 'yeseva one';
    font-weight: 400px;
    font-size: 60px;
    border-left: 5px solid rgb(201,26,26);
    padding: 10px;
}
.first-p{
    color: blueviolet;
}
.second-p{
    color: blue;
}
.name-hgt{
    color: blue;
}
.photo img{
   width: 550px; 
}
.details-btn{
    padding: 15px 50px;
    background-color: orange;
    border-radius: 5px;
    border: none;
}
.details-btn:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
}
.second-section{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 100px;
}
.sec2-span{
    color: tomato;
}
.mission{
    width: 350px;
    border: 1px solid gray; 
    box-shadow: 4px 4px 12px;
    border-radius: 5px;
    background-color: cadetblue;
}
.mission2{
    width: 350px;
    border: 1px solid gray; 
    box-shadow: 4px 4px 12px;
    border-radius: 5px;
    background-color: pink;
}
.mission3{
    width: 350px;
    border: 1px solid gray; 
    box-shadow: 4px 4px 12px;
    border-radius: 5px;
    background-color: seagreen;
}

.div-image img {
    width: 40%;
}
.all-divisions{
    display: flex;
    justify-content: space-around;
    padding: 20px 40px;
    
}
.bottom{
    padding: 5px;
}
.details{
    padding: 15px 50px;
    background-color: orange;
    border-radius: 5px;
    border: none;
}
.details:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
}
.third-sec{
    display: flex;
    margin-bottom: 150px;
}
.third-sec{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.half-width img{
    width: 80%;
}
.header {
    font-family: 'yeseva one';
    font-weight: 400px;
    font-size: 60px;
    
}